
.slideshow {
	display: block;
	position: relative;
	z-index: 0;
}
.slideshow-images {
	display: block;
	overflow: hidden;
	position: relative;
}		
.slideshow-images img {
	display: block;
	position: absolute;
	z-index: 1;
}		
.slideshow-thumbnails {
	overflow: hidden;
}

.slideshow {
	width: 961px;
	height: 300px;
	margin: 0 auto;
	background: url("$rel#back.png$") no-repeat scroll 0 0 transparent; 
}
.slideshow a img {
	border: 0;
}
.slideshow-images {
	width: 961px;
	height: 300px;
	left: 0px;
	top: 0px;
}		
.slideshow-images-visible { 
	opacity: 1;
}	
.slideshow-images-prev { 
	opacity: 0; 
}
.slideshow-images-next { 
	opacity: 0; 
}
.slideshow-images img {
	float: left;
	left: 0;
	top: 0;
	position: static;
}

.slideshow-captions {
	background: #000;
	bottom: 0px;
	color: #FFF;
	font: normal 12px/22px Arial, sans-serif;
	left: 0px;
	overflow: hidden;
	position: absolute;
	padding: 0 10px;
	width: $CaptionWidth$px;	/* 100% */
	z-index: 10000;
}
.slideshow-captions-hidden {
	opacity: 0;
}
.slideshow-captions-visible {
	opacity: .7;
}
.slideshow-controller {
	background: url(../images/controller.png) no-repeat;
	height: 42px;
	left: 50%;
	margin: -21px 0 0 -119px;
	overflow: hidden;
	position: absolute;
	bottom: 50%;
	width: 238px;
	z-index: 10000;
}
.slideshow-controller * {
	margin: 0;
	padding: 0;
}
.slideshow-controller-hidden { 
	opacity: 0;
}
.slideshow-controller-visible {
	opacity: 1;
}
.slideshow-controller a {
	cursor: pointer;
	display: block;
	height: 18px;
	overflow: hidden;
	position: absolute;
	top: 12px;
}
.slideshow-controller a.active {
	background-position: 0 18px;
}
.slideshow-controller li {
	list-style: none;
}
.slideshow-controller li.first a {
	background-image: url(../images/controller-first.gif);
	left: 33px;
	width: 19px;
}
.slideshow-controller li.last a {
	background-image: url(../images/controller-last.gif);
	left: 186px;
	width: 19px;
}
.slideshow-controller li.next a {
	background-image: url(../images/controller-next.gif);
	left: 145px;
	width: 28px;
}
.slideshow-controller li.pause a {
	background-image: url(../images/controller-pause.gif);
	left: 109px;
	width: 20px;
}
.slideshow-controller li.play a {
	background-position: 20px 0;
}
.slideshow-controller li.play a.active {
	background-position: 20px 18px;
}
.slideshow-controller li.prev a {
	background-image: url(../images/controller-prev.gif);
	left: 65px;
	width: 28px;
}